.article__link {
    color: rgb(5, 83, 5);
}

.article__link:focus {
    outline: 1px, solid, currentColor;
}

.article__link:hover {
    color: rgb(84, 160, 8);
    border-bottom: 1px solid;
}
 
.article {
   padding: auto;
}
   
.article__header {
      font-size: 20px; 
      text-align: center;
      color: rgb(10 58 5);
}
   
.article__paragraph {
      text-align: center;
      color: rgb(4 24 2);
}
