
.header {
    font-size: 40px;
    text-align: center;
    color: rgb(10 58 5);
    margin: 0;
 } 
 
 .header__navigation {
    width: auto;
    background-color: rgb(210, 248, 206);
    border-color:rgb(9, 66, 9);
    border-style: dotted;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 0 20% auto;
    text-align: center;
    position: relative;	
    box-shadow: 12px -6px 22px 8px #667a5c;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 
 .header__link {
    color: rgb(5, 83, 5);
 }
 .header__link:focus {
    outline: 1px, solid, currentColor;
 }
 .header__link:hover {
    color: rgb(84, 160, 8);
    border-bottom: 1px solid;
 }
 
 .header__container {
    background-color: #efe4d1;
    padding: 5px;
    text-align: center;
    border:1px;
    border-style: dotted;
    border-radius: 10px;
    border-color: rgb(1, 54, 1);
    margin: 5px;
    box-shadow:rgb(105, 105, 6);
 }
 
 .header__button {
    overflow-x: auto;
    color: beige;
    background-color: darkgreen;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
 }
 
 .header__paragraph {
    padding-left: 15px; 
    padding-right: 15px;
    text-align: center;
    color: rgb(4 24 2);
    background-color: #efe4d1;
 }
  