html {
   box-sizing: border-box;
}
*, ::after,::before {box-sizing: inherit;
}

.body {font-family: "Lato", sans-serif;
   background-color: #faf7f4;
   max-width: 1000px;
   padding: 20px; 
   margin: 5px auto;
   border-width: 1px;
   border-style: dotted;
   border-radius: 10px;
   line-height: 1.5;
}
